[user]
	name = gaurav23617
	email = gaurav23617@gmail.com

[core]
	editor = nvim

[color]
	ui = true

[init]
	defaultBranch = main

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[rerere]
	enabled = true
[submodule]
	recurse = true
